/*
VARIABLES DECLARATION
*/

$red: #ec0000;
$lightRed: #dc3545;
$background: rgba(255, 2555, 255, 0.7);
$background-color:#deedf2;
$paleGrey:rgb(240, 240, 240);
$darkGrey: rgb(91, 90, 91);
$paleborder: #eee7dd;
$paleFooterText: #d2d0c2;
$moduleBackground: #d0cdc4;
$dark: #333;
$colorPrimary200: #c2c2c2;
$openSans: 'Open-Sans',
sans-serif;
$ariel: Ariel,
Helvetica,
sans-serif;
$jaldi: 'Jaldi',
sans-serif;
$marckScript: 'Marck Script',
cursive;


// Kinni
//
// Basics

$white: #FFF8F0;
$white_80: #FFF8F0CC;
$white_50: #FFF8F080;
$white_20: #FFF8F033;

$brightWhite: #FFFFFF;
$brightWhite_80: #FFFFFFCC;
$brightWhite_50: #FFFFFF80;
$brightWhite_20: #FFFFFF33;

$black: #212121;
$black_80: #212121CC;
$black_50: #21212180;
$black_20: #21212133;

$brightBlack: #000000;
$brightBlack_80: #000000CC;
$brightBlack_50: #00000080;
$brightBlack_20: #00000033;

//
// Primary palette
$light: #FFF8F0;
$dark: #303030;
$dark_80: #303030CC;
$dark_50: #30303080;
$dark_20: #30303033;

$red: #FA4E4A;
$red_80: #FA4E4ACC;
$red_50: #FA4E4A80;
$red_20: #FA4E4A33;

//
// Secondary palette
$blue: #14A8D1;
$blue_70: #14A8D1B3;
$blue_50: #14A8D180;
$blue_20: #14A8D133;

$lightBlue: #57D6FA;
$lightBlue_70: #57D6FAB3;
$lightBlue_50: #57D6FA80;
$lightBlue_20: #57D6FA33;

$orange: #FF9C71;
$orange_70: #FF9C71B3;
$orange_50: #FF9C7180;
$orange_20: #FF9C7133;

$lightOrange: #FFBE76;
$lightOrange_70: #FFBE76B3;
$lightOrange_50: #FFBE7680;
$lightOrange_20: #FFBE7633;

$green: #33F274;
$green_70: #33F274B3;
$green_50: #33F27480;
$green_20: #33F27433;

$purple: #9E88FF;
$purple_70: #9E88FFB3;
$purple_50: #9E88FF80;
$purple_20: #9E88FF33;

//
// UI States
$error: #EA5151;
$warning: #FAAF24;
$success: #43AF6B;

//
// Special
$lowLight: #888888;
$surface: #ADADAD16;
$dividerColor: #3c3c3c;
$transparent: #00000000;
$stravaOrange: #FC4C02;
$trainingPeaksBlue: #005695;
$heartRateRed: #FF7B73;
$background: #303030;
